@font-face {
    font-family: 'caviar';
    src: url('../fonts/CaviarDreams.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noodle';
    src: url('../fonts/Moon Flower.ttf');
    font-weight: normal;
    font-style: normal;
}

#head {
    background:#181015 url( "../img/Web-Design.jpg") no-repeat;
    background-size: cover; min-height:300px;
    text-align: left;
    padding-top:240px; color:white;
    font-family:"Open sans", Helvetica, Arial;
    font-weight:300;
}
#headexp {
    background:#181015 url( "../img/Web-Design.jpg") no-repeat;
    background-size: cover; min-height:300px;
    text-align: left;
    padding-top:100px; color:white;
    font-family:"Open sans", Helvetica, Arial;
    font-weight:300;
}

#head .lead, #headexp .lead {
    font-family:'caviar';
    font-size:44px;
    margin-bottom:60px;
    color:white;
    line-height:1.15em;
    background:#181015;
    opacity: 0.7;
}

.col-md-8 {
    background:white;
    font-family:'caviar';
   
}

.container-fluid {
    background:white;
    font-family:'caviar';
    min-height:100px;
    border: 2px #181015;
}



#listexp {color: black;}

#pied {
    background: white;
    background-size : cover;
    font-family:'caviar';
    min-height:50px;
}
#con{
    padding: 14px 16px;
}
#description{
    font-family:'caviar';
    background: #F27E0A;
   
    margin-bottom:60px;
    color:white;
    line-height:1.15em;
    
    opacity: 0.95;

}
#gptravail{
    border:2px solid #F27E0A;
   
}
#expli{
    color:#F27E0A;
    font-size:15px;
}
#code,#membre{
     font-size:24px;
}

